# Dependencies
node_modules
jspm_packages

*/**/yarn.lock
/.yarn
.pnpm-store
bun.lockb

# VSCode
.vscode

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
