---
import Layout from '../layouts/Layout.astro';
import TestForm from './../components/TestForm.vue';
---
<script is:inline type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCToIMP1Rk6ZbGcfnJ2iwsnb09_lnxLmY&libraries=places"></script>

<Layout title="Welcome to Astro.">
  <div class="dark max-w-[320px] h-screen flex items-center justify-center mx-auto">
    <TestForm client:only="vue" class="dark:text-white" />
  </div>
</Layout>